/*quitar los margenes del navegador*/
*{
	margin: 0px;
	padding: 0px;
}


/*inicia estilo header (seccion tipo clase)*/
.header{
	display: flex; /*muestra elementos en linea*/
	justify-content: space-between; /*genera un espacio entre los elementos*/
	align-items: center; /*alinea los elementos al centro del contenedor*/
	padding: 15px 40px; /*margenes hacia adentro*/
	background: linear-gradient(90deg, #004add, #00aaff);
	color: #fff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.div_imagenes{
	display: flex;
	align-items: center;
	gap: 20px;
}

.imagenes_carreras{
	height: 60px;
	width: auto;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}