body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #eef2f7;
    margin: 0px;
    padding: 0px;
}

/*Estilo div del formulario*/
.div_fomr{
    width: 80%; /*anchura*/
    max-width:900px;
    margin: 50px auto; /*alto y bajo 50pc, izquierda-derecha automatico*/
    background: #fff;
    padding: 30px 40px; /*elemento hacia adentro*/
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

